In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df1 = pd.read_csv('TrackConditions.csv')
df2 = pd.read_csv('TripleCrownRaces_2005-2019.csv')

In [4]:
df1.head()

,year,high_temp,low_temp,precipitation_24hrs,weather,track_condition,attendance,race
0,2019,71.0,58.0,0.34,Showery,Sloppy,150729,Kentucky Derby
1,2018,70.0,61.0,3.15,Showery,Sloppy,157813,Kentucky Derby
2,2017,62.0,42.0,0.12,Clear,Muddy,158070,Kentucky Derby
3,2016,85.0,59.0,0.28,Clear,Fast,167227,Kentucky Derby
4,2015,79.0,52.0,0.00,Clear,Fast,170513,Kentucky Derby

In [5]:
df2.head()

,final_place,PP,Horse,Jockey,Trainer,Odds,Win,Place,Show,year,race
0,1,10,Giacomo,Mike Smith,John Shirreffs,51.0,102.6,45.8,19.8,2005,Kentucky Derby
1,2,18,Closing Argument,Cornelio Velasquez,Kiaran McLaughlin,72.0,0.0,70.0,24.8,2005,Kentucky Derby
2,3,12,Afleet Alex,J Rose,Tim Ritchey,5.5,0.0,0.0,4.6,2005,Kentucky Derby
3,4,17,Don't Get Mad,T C Baze,Ronald Ellis,30.0,0.0,0.0,0.0,2005,Kentucky Derby
4,5,20,Buzzards Bay,Mark Guidry,Jeff Mullins,47.0,0.0,0.0,0.0,2005,Kentucky Derby

In [7]:
df3 = pd.merge(df1, df2, on=['race', 'year'])
df3.head()

,year,high_temp,low_temp,precipitation_24hrs,weather,track_condition,attendance,race,final_place,PP,Horse,Jockey,Trainer,Odds,Win,Place,Show
0,2019,71.0,58.0,0.34,Showery,Sloppy,150729,Kentucky Derby,1,20,Country House,William I. Mott,Flavien Prat,66.0,132.4,56.6,24.6
1,2019,71.0,58.0,0.34,Showery,Sloppy,150729,Kentucky Derby,2,13,Code of Honor,Claude R. McGaughey III,John Velazquez,16.0,0.0,15.2,9.8
2,2019,71.0,58.0,0.34,Showery,Sloppy,150729,Kentucky Derby,3,8,Tacitus,William I. Mott,Jose Ortiz,11.0,0.0,0.0,5.6
3,2019,71.0,58.0,0.34,Showery,Sloppy,150729,Kentucky Derby,4,5,Improbable,Bob Baffert,Irad Ortiz Jr.,7.0,0.0,0.0,0.0
4,2019,71.0,58.0,0.34,Showery,Sloppy,150729,Kentucky Derby,5,16,Game Winner,Bob Baffert,Joel Rosario,6.0,0.0,0.0,0.0

How often did a singular jockey win when the precipitation_24hrs was above 0.3?

What was the average temp on race days?

How often did a singular jockey win?

In [10]:
df2.loc[df2.final_place == 1, 'Jockey'].value_counts()

Victor Espinoza      5
Mike Smith           5
Calvin Borel         4
Kent Desormeaux      3
Mario Gutierrez      3
John Velazquez       3
Jeremy Rose          2
Javier Castellano    2
Mark Casse           2
Joel Rosario         2
Bob Baffert          1
William I. Mott      1
Alan Garcia          1
John R. Velazquez    1
Jose L. Ortiz        1
Jose Valdivia Jr.    1
Irad Ortiz Jr.       1
Fernando Jara        1
Jesus Castanon       1
Robby Albarado       1
Gary Stevens         1
Edgar Prado          1
Martin Garcia        1
Ken Desormeaux       1
Name: Jockey, dtype: int64

How often, or at all, did a pair try to compete again after not being succesfull the year together before?